{% extends "avto/base.html" %}
{% load static %} 

{% block content1 %}

    <style>
        /* Стили для списка сообщений */
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        /* Стили для элемента списка сообщений */
        li {
            margin-bottom: 10px;
            background-color: #333;
            color: #fff;
            padding: 10px;
        }

        /* Стили для ссылки на сообщение */
        li a {
            text-decoration: none;
            color: #fff;
            font-size: 16px;
        }

        .edit-button {
            background-color: #000000;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            margin-bottom: 30px;
                
        }

        .edit-button:hover {
            background-color: white;
            color: black;
            border: 3px solid black;
            font-size: 17px;
          }

        
    </style>

    <p style="margin-bottom: 20px ; color: white;"><a href="{% url 'account:send_message' %}" class="edit-button" >Отправить сообщение</a></p>

    {% if messages %}
        <ul><h3> Входящие :  </h3>
            {% for message in messages %}
                {% if not message.sender == request.user %}
                    <li><a href="{% url 'account:messages_detail' message.id %}">От: {{ message.sender}} {{message.created_at|date:"Y-m-d"}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <ul> <h3> Отправленные :  </h3>
            {% for message in messages %}
                {% if message.sender == request.user %}
                    <li><a href="{% url 'account:messages_detail' message.id %}">Получатель: {{ message.recipient}}   {{message.created_at|date:"Y-m-d"}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>Почтовый ящик пуст</p>
    {% endif %}

{% endblock %}