{% extends "avto/base.html" %}

{% block content1 %}

<style>
    .logout-page {
      background-color: #303030;
      padding: 40px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #FFFFFF;
    }
  
    .logout-message {
      color: #FFFFFF;
      margin-bottom: 20px;
    }
  
    .back-link {
      color: #FFFFFF;
      text-decoration: none;
      margin-top: 20px;
    }
  </style>
  
  
  <div class="logout-page">
    <p class="logout-message">Вы вышли из своего профиля. Спасибо, что использовали наш сайт.</p>
    <a href="{% url 'account:login' %}" class="back-link">Авторизироваться</a>
  </div>
  
{% endblock %}